@model IEnumerable<GeckoTracker.Models.LoanListView>

@{
    ViewBag.Title = "Index";
}

@section head{
    <style type="text/css">
        tr:nth-child(even) {
            background: #fbf9af
        }

        tr:nth-child(odd) {
            background: #c4c1c1
        }

        tr {
            border: double;
        }

        body {
            background-image: url('Assets/leaves.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: stretch;
            justify-content: center;
            margin: 0;
        }
    </style>
}

<h2>Loans Index</h2>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LoanedGeckoName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeaseeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanDuration)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoanedGeckoName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaseeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanDuration)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.LoanID }) |
                @Html.ActionLink("Details", "Details", new { id = item.LoanID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.LoanID })
            </td>
        </tr>
    }

</table>
