@model IEnumerable<GeckoTracker.Models.PairingListView>

@{
    ViewBag.Title = "Index";
}

<h2>Pairings Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaleGeckoName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FemaleGeckoName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Season)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.MaleGeckoName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FemaleGeckoName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Season)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PairingID }) |
                @Html.ActionLink("Details", "Details", new { id = item.PairingID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PairingID })
            </td>
        </tr>
    }

</table>
